/* Declaring variables to be used throughout the website */

:root {
  --primaryColor: #202121;
  --secondaryColor: #c5c5c4;
  --tertiaryColor: #ffffff;
  --quaternaryColor: #f9fafb;
  --headerStyleLight: 300 19pt/26pt "Open Sans Condensed", sans-serif;
  --headerStyleBold: 700 19pt/26pt "Open Sans Condensed", sans-serif;
  --bodyCopyStyle: 400 13pt/19pt "Lato", sans-serif;
  --navSelectorStyle: 400 12pt/13pt "Lato", sans-serif;
  --largeSectionSpacing: calc(100% - 100px);
  --transparentPrimaryColor: rgb(32, 33, 33, 0.8);
  --transparentSecondaryColor: rgb(197, 197, 196, 0.8);
  --transparentTertiaryColor: rgb(255, 255, 255, 0.8);
  --transparentQuaternaryColor: rgb(249, 250, 251, 0.8);
  --projectTitle: 900 12pt/14pt "Lato", sans-serif;
  --projectType: 300 14.5pt/14pt "Lato", sans-serif;
  --flexBackgroundImage: no-repeat center/cover var(--primaryColor);
}

/* body { 
    background-color: var(--primaryColor);
} */

/* Stylization for the header and navigation section begins. */

body > header {
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: var(--primaryColor);
  color: var(--tertiaryColor);
  z-index: 10;
  box-shadow: 3px 3px 6px;
}

header > nav {
  width: var(--largeSectionSpacing);
  max-width: 1440px;
  margin: 0px auto;
  display: block;
  height: 100%;
}

nav > img {
  height: 65px;
  margin: 17.5px 0px;
  transform: rotate(0deg);
  float: left;
}

nav > h1 {
  font: var(--headerStyleBold);
  text-transform: uppercase;
  height: 100%;
  width: auto;
  float: left;
  margin: 32px 0px 0px 12.5px;
  letter-spacing: 0.06em;
}

nav > ul {
  width: auto;
  float: right;
  display: inline-block;
  height: 100%;
  margin-top: 39px;
}

nav > ul > li {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  display: inline-block;
}

nav > ul > li > a {
  font: var(--navSelectorStyle);
  color: var(--tertiaryColor);
  text-decoration: none;
  padding: 5px 10px;
  transition: 500ms ease-out;
}

nav > ul > li > a:hover {
  background-color: var(--quaternaryColor);
  color: var(--primaryColor);
  transition: 500ms ease-in;
}

nav > #exit-nav {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 25px;
  top: 20px;
  display: none;
  transition: 350ms linear;
  transition-delay: 700ms;
}

/* stylization for the header and navigation section ends. */

/* Stylization for the main content for portfolio website begins. */

main {
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
}

/* stylization for the hero / Website banner Section begins. */

main > #hero {
  width: 100%;
  margin: 0px auto;
  height: 650px;
  background-color: var(--secondaryColor);
  position: relative;
  overflow: hidden;
  background-size: cover;
}

#hero > [src$=".gif"] {
  width: 100%;
  min-width: 800px;
  height: 500px;
  position: absolute;
  top: 100px;
}

#hero > [src$=".png"] {
  height: 500px;
  width: 455px;
  min-height: 400px;
  right: calc(50% - 227.5px);
  top: 150px;
  position: absolute;
}

#hero > article {
  width: 100%;
  height: 100%;
  background-color: var(--transparentPrimaryColor);
  position: absolute;
  top: 600px;
  text-align: center;
}

#hero > article > h2,
#hero > article > h3 {
  font: var(--headerStyleLight);
  color: var(--tertiaryColor);
  text-transform: uppercase;
  letter-spacing: 0.075em;
  display: inline-block;
  margin-top: 7px;
}

#hero > article :first-child {
  margin-right: 15px;
}

#hero > article :last-child {
  margin-left: 15px;
}

/* stylization for the hero / Website banner Section ends. */

/* Stylization for the about me section begins  */

main > #about-me-container {
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  background-image: url(../images/logo-black.svg);
  background-position-x: calc(100% - 400px);
  background-position-y: center;
  background-attachment: fixed;
  background-size: 300px;
  background-repeat: no-repeat;
}

#about-me-container > article {
  width: var(--largeSectionSpacing);
  max-width: 1440px;
  margin: 0px auto;
  height: 100%;
  padding: 75px 0px;
}

#about-me-container > article > h4 {
  font: var(--headerStyleBold);
  color: var(--tertiaryColor);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#about-me-container > article > hr {
  width: 45%;
  height: 2px;
  border: none;
  background-color: var(--quaternaryColor);
  margin: 15px 0px 15px 0px;
}

#about-me-container > article > p {
  color: var(--quaternaryColor);
  font: var(--bodyCopyStyle);
  letter-spacing: 0.075em;
  width: 60%;
  height: 100%;
  padding-bottom: 15px;
}

#about-me-container > article > :last-child {
  padding-bottom: 0px;
}

/* stylization of the about me section ends  */

/* Stylization of the projects-header begins. */

main > #projects-header {
  width: 100%;
  background-color: var(--quaternaryColor);
  height: 100%;
  padding: 50px 0px;
  background-image: url(../images/project-header-style-marks.svg);
  background-position: center center;
  background-size: 1080px;
  background-repeat: no-repeat;
}

#projects-header > h5 {
  font: var(--headerStyleBold);
  color: var(--primaryColor);
  border: 7px black solid;
  text-transform: uppercase;
  padding: 10px 7px 15px 7px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 300px;
  margin: 0px auto;
  position: relative;
}

#projects-header h5::after {
  content: url("../images/right-title-bracket.svg");
  display: inline-block;
  width: 19px;
  position: relative;
  padding-right: 30px;
  top: 7px;
}

#projects-header h5::before {
  content: url("../images/left-title-bracket.svg");
  display: inline-block;
  width: 19px;
  position: relative;
  padding-left: 30px;
  top: 7px;
}

/* Stylization of Projects-Header ends. */

/* Stylization of the Projects-Container begins. */

main > #projects-container {
  width: var(--largeSectionSpacing);
  margin: 0px auto;
  max-width: 1440px;
  padding: 100px 0px 100px 0px;
  height: 100%;
  background-color: var(--primaryColor);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px 5px;
}

#projects-container > figure {
  height: 200px;
  flex: 1 0 275px;
  min-width: calc((100% / 3) - 20px);
  background-color: var(--quaternaryColor);
  overflow: hidden;
  background: var(--flexBackgroundImage);
}

#projects-container > figure > a {
  text-decoration: none;
}

#projects-container > figure > a > article {
  width: 100%;
  height: 100%;
  background-color: var(--transparentPrimaryColor);
  position: relative;
  padding: 10px 0px;
  text-align: center;
  top: 100%;
  transition: 500ms linear;
}

#projects-container > figure > a > article :first-child {
  font: var(--projectTitle);
  color: var(--tertiaryColor);
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

#projects-container > figure > a > article :last-child {
  font: var(--projectType);
  color: var(--tertiaryColor);
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

#projects-container > figure:hover > a > article {
  top: calc(100% - 56px);
  transition: 500ms linear;
}

#projects-container > #project-1 {
  flex-basis: 100%;
  height: 400px;
  background-image: url(../images/project-1-screenshot.jpg);
}

#projects-container > #project-2 {
  background-image: url(../images/TimedCodingQuizScreenshot.png);
}

#projects-container > #project-3 {
  background-image: url(../images/GroupProject1OrbitalDictionary.png);
}

#projects-container > #project-4 {
  background-image: url(../images/DayPlannerPhoto.png);
}

#projects-container > #project-5 {
  background-image: url(../images/RandomPasswordGeneratorImage.png);
}

#projects-container > #project-6 {
  background-image: url(../images/PLACEHOLDERS_PROJECT6.svg);
}

#projects-container > #project-7 {
  background-image: url(../images/PLACEHOLDERS_PROJECT7.svg);
}

/* Stylization Of The Projects-Container Ends. */

/* Stylization of the Contact-Me section begins */

main > #contact-me {
  width: 100%;
  padding: 50px;
  height: 100%;
  margin: 0px auto;
  background-color: var(--quaternaryColor);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 5px;
}

#contact-me > h6 {
  font: var(--headerStyleLight);
  color: var(--primaryColor);
  padding: 15px 30px;
  border: 7px black solid;
  margin: 25px calc(50% - 150px);
  height: 100%;
  width: 275px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

#contact-me > article {
  flex: 0.8 0 0px;
  min-width: 150px;
  max-width: 200px;
  height: 100%;
  background-color: var(--quaternaryColor);
  text-align: center;
  padding-bottom: 25px;
}

#contact-me > article img {
  width: calc(100% - 50px);
  margin: 25px 10% 25px 25px;
  border-radius: 50%;
}

#contact-me > article > p {
  color: var(--primaryColor);
  font: var(--projectType);
}

#contact-me > article > hr {
  width: 50px;
  margin: 5px auto;
}

/* Stylization of the Contact-Me section ends. */

/* Stylization of the Footer begins */

main > footer {
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  padding: 25px 0px;
}

footer > ul {
  display: flex;
  gap: 15px 10px;
  justify-content: center;
}

footer > ul > li {
  color: var(--quaternaryColor);
  font: var(--bodyCopyStyle);
  text-align: center;
}

footer > ul > li > a {
  color: var(--quaternaryColor);
  text-decoration: none;
}

footer > hr {
  border: none;
  width: 100%;
}

footer > p {
  color: var(--quaternaryColor);
  font: var(--bodyCopyStyle);
  width: 100%;
  text-align: center;
}

/* Stylization of the footer ends. */

/* Media queries for certain screen sizes begins  */

@media only screen and (max-width: 780px) {
  /* header for smaller screen size begins  */

  header > nav {
    width: 100%;
    background-color: var(--primaryColor);
    height: 100%;
  }

  header > nav > img {
    width: 50px;
    margin-left: calc(50% - 25px);
    display: block;
    cursor: pointer;
  }

  header > nav > h1 {
    display: none;
  }

  header > nav > ul {
    display: block;
    float: none;
    position: absolute;
    height: 0vh;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
    transition: 350ms linear;
    transition-delay: 350ms;
  }

  header > nav > ul > li {
    width: 100%;
    text-align: center;
    font-size: 18pt;
    line-height: 18pt;
    height: calc((100vh - 100px) / 4);
    padding-top: calc(((100vh - 100px) / 8) - 9pt);
    background-color: var(--primaryColor);
    border-top: 3px solid var(--quaternaryColor);
  }

  header > nav > #logo:focus + h1 + ul {
    display: block;
    height: calc(100vh - 100px);
    transition: 350ms linear;
  }

  header > nav > #logo:focus + h1 + ul + #exit-nav {
    display: block;
    margin-left: 0px;
  }

  /* header for smaller screen size ends  */

  /* hero for smaller screen size begins */

  main > #hero {
    height: 100vh;
    padding-top: 100px;
  }

  #hero > [src$=".gif"] {
    height: 80vh;
  }

  #hero > [src$=".png"] {
    height: 70vh;
    top: 30vh;
    right: calc(50% - ((70vh * 0.91) / 2));
    width: auto;
  }

  #hero > article {
    width: 100%;
    height: 50px;
    top: calc(100vh - 50px);
  }

  /* hero for smaller screen size ends  */

  /* About-me for smaller screen size begins */

  main #about-me-container {
    text-align: center;
    background-position: center;
    background-size: 300px;
  }

  #about-me-container > article > h4 {
    font-size: 26pt;
  }

  #about-me-container > article > hr {
    width: 45%;
    margin: 15px 27.5%;
  }

  #about-me-container > article > p {
    width: 100%;
  }

  /* About-me for smaller screen size ends  */

  /* project section for smaller screen size begins  */

  main #projects-container {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }

  #projects-container > figure {
    height: 200px;
    min-width: calc(50% - 5px);
    background-color: var(--quaternaryColor);
  }

  #projects-container > figure > a {
    display: block;
    position: relative;
    height: 200px;
    width: 100%;
  }

  #projects-container > #project-1 > a {
    height: 400px;
  }

  #projects-container > figure > a > article {
    width: 100%;
    height: 55px;
    background-color: var(--transparentPrimaryColor);
    position: relative;
    padding: 10px 0px;
    text-align: center;
    top: calc(100% - 55px);
    transition: 500ms linear;
  }
  #projects-container > figure:hover > a > article {
    width: 100%;
    height: 55px;
    background-color: var(--transparentPrimaryColor);
    position: relative;
    padding: 10px 0px;
    text-align: center;
    top: calc(100% - 55px);
    transition: 500ms linear;
  }
}
